In [3]:
import numpy as np
import pandas as pd

In [168]:
data = pd.read_excel('C:\\Users\\Asus\\Documents\\SEM VI\\CITI\\Project\\data.xlsx', index = False)
data[:5]

,Unique Id,Client Name,Account ID,Legal Entity,Currency,Payment Type,Paid Amount,Payment Date,Payment Status,Pending Amount,Comments
0,1,J P Morgan,101008,CitiBank New York Branch,GBP,Receive,45678,2020-03-11,Fully paid,0,Transaction complete
1,2,J P Morgan,105049,CitiBank New York Branch,USD,Receive,765327,2020-03-12,Partially Paid,1008,Waiting for pending amount
2,3,DEUTSCHE BANK,105050,CitiBank HongKong,CAD,Receive,637229,2020-03-13,Partially Paid,34566,Waiting for pending amount
3,4,DEUTSCHE BANK,105058,CitiBank New York Branch,USD,Receive,22345566,2020-03-14,Partially Paid,1000000,Waiting for pending amount
4,5,DEUTSCHE BANK,105059,CitiBank New York Branch,EUR,Receive,553322,2020-03-15,Rejected,553322,Payment Failed

In [129]:
data['Account ID'].describe(), data.shape

(count        20.000000
 mean     104901.450000
 std         917.150247
 min      101008.000000
 25%      105060.500000
 50%      105117.500000
 75%      105128.250000
 max      105170.000000
 Name: Account ID, dtype: float64, (20, 11))

In [138]:
import os

location = 'C:\\Users\\Asus\\Documents\\SEM VI\\CITI\\Project\\Data'
files_list = os.listdir(location)
DATASET = data.drop(columns=['Unique Id'], axis = 1)
# DATASET.rename(columns={'ClientÂ  Name' : 'ClientName'}, inplace = True)

print(DATASET.columns)

for file in files_list:
    name = os.path.join(location, file)
    df = pd.read_excel(name, index = False)
    DATASET = pd.concat([DATASET, df], axis = 0, ignore_index=True)

Index(['Client Name', 'Account ID', 'Legal Entity', 'Currency', 'Payment Type',
       'Paid Amount', 'Payment Date', 'Payment Status', 'Pending Amount',
       'Comments'],
      dtype='object')

In [145]:
DATASET.drop_duplicates(['Account ID'], inplace=True)

DATASET.loc[DATASET["Payment Status"] == 'Fully paid', 'Pending Amount'] = 0
DATASET.loc[DATASET["Payment Status"] == 'Fully paid', 'Comments'] = 'Transaction complete'

DATASET.reset_index(drop=True, inplace=True)

In [194]:
from datetime import datetime

DATASET['Payment Date'][20:] = DATASET['Payment Date'][20:].apply(lambda data : datetime.strptime(str(data), "%Y/%m/%d"))
DATASET['Payment Date'] = DATASET['Payment Date'].apply(lambda data : str(data)[:11])

type(DATASET['Payment Date'][11])

str

In [196]:
DATASET['Payment Date']

0      2020-03-11
1      2020-03-12
2      2020-03-13
3      2020-03-14
4      2020-03-15
5      2020-03-16
6      2020-03-07
7      2020-03-08
8      2020-03-09
9      2020-03-10
10     2020-04-11
11     2020-03-12
12     2020-03-13
13     2020-03-14
14     2020-06-01
15     2020-03-16
16     2020-03-17
17     2020-06-10
18     2020-03-19
19     2020-03-20
20     2020-04-02
21     2020-04-17
22     2020-03-20
23     2020-05-10
24     2020-02-22
25     2020-04-05
26     2020-02-26
27     2020-04-14
28     2020-06-06
29     2020-05-21
          ...
890    2020-05-23
891    2020-03-03
892    2020-05-28
893    2020-04-18
894    2020-05-11
895    2020-06-07
896    2020-02-23
897    2020-02-29
898    2020-05-13
899    2020-02-25
900    2020-03-16
901    2020-05-17
902    2020-04-15
903    2020-05-23
904    2020-02-26
905    2020-03-11
906    2020-03-16
907    2020-05-12
908    2020-03-27
909    2020-03-10
910    2020-05-21
911    2020-03-14
912    2020-05-11
913    2020-05-24
914    2020-06-02
915    2020-05-27
916    2020-02-21
917    2020-05-11
918    2020-04-25
919    2020-04-30
Name: Payment Date, Length: 920, dtype: object

In [197]:
DATASET.to_csv('C:\\Users\\Asus\\Documents\\SEM VI\\CITI\\Project\\dataset.csv')

In [188]:
questions = pd.read_pickle('C:\\Users\\Asus\\Documents\\SEM VI\\CITI\\Project\\questions.pkl')